<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Shorten urls for free">
    <meta name="keywords" content="Url, Shortener, Url Shortener, Short, Urls, Long Urls">
    <meta name="author" content="Merlintor">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
        <title>Magic Bots</title>
    {% endblock title %}

    <link type="text/css" rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

    {% block css %}
    {% endblock css %}
</head>
<body>
{% include '/components/navbar.html' %}

{% block content %}
{% endblock content %}

{% include '/components/footer.html' %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
</body>
</html>
