{% extends "base.html" %}
{% block content %}
<div class="container">
    <section class="content">
        <h1 class="title">URL SHORTENER</h1>
        <form>
            <input type="url" id="url" placeholder="Paste a link to shorten it">
            <input type="button" id="shorten" value="Shorten">
        </form>
    </section>
</div>
<script>
    $("#shorten").click(function() {
        $.post("/shorten", {"url": $("#url").val()})
            .done(function(data) {
                $("#url").val(data)
            });
    });
</script>
{% endblock content %}
